In [1]:
%ls

appunti.py  elab_l.py      lib/         nota_per_utente.txt  stations.csv
elab_G.py   elab_n.py      libreria.py  o.ipynb              stations.ods
elab_H.py   elab_o.py      metadata.py  preproc.fish
elab_i.py   istruzioni.md  my.ipynb     __pycache__/

In [2]:
cd projects/

[Errno 2] No such file or directory: 'projects/'
/home/ste/projects/data_utility

In [3]:
ls

appunti.py  elab_l.py      lib/         nota_per_utente.txt  stations.csv
elab_G.py   elab_n.py      libreria.py  o.ipynb              stations.ods
elab_H.py   elab_o.py      metadata.py  preproc.fish
elab_i.py   istruzioni.md  my.ipynb     __pycache__/

In [4]:
cd data_utility/

[Errno 2] No such file or directory: 'data_utility/'
/home/ste/projects/data_utility

In [5]:
%run elab_o.py

In [6]:
df1

,datetime,temperature,naive_dt,italian_dt,solar_dt
0,2013-06-21 12:35:00,25.2,2013-06-21 12:35:00,2013-06-21 12:35:00+02:00,2013-06-21 11:35:00+01:00
1,2013-06-21 13:00:00,26.2,2013-06-21 13:00:00,2013-06-21 13:00:00+02:00,2013-06-21 12:00:00+01:00
2,2013-06-21 13:05:00,26.2,2013-06-21 13:05:00,2013-06-21 13:05:00+02:00,2013-06-21 12:05:00+01:00
3,2013-06-21 13:10:00,26.1,2013-06-21 13:10:00,2013-06-21 13:10:00+02:00,2013-06-21 12:10:00+01:00
4,2013-06-21 13:15:00,26.2,2013-06-21 13:15:00,2013-06-21 13:15:00+02:00,2013-06-21 12:15:00+01:00
...,...,...,...,...,...
509112,2019-06-30 23:30:00,29.5,2019-06-30 23:30:00,2019-06-30 23:30:00+02:00,2019-06-30 22:30:00+01:00
509113,2019-06-30 23:35:00,29.2,2019-06-30 23:35:00,2019-06-30 23:35:00+02:00,2019-06-30 22:35:00+01:00
509114,2019-06-30 23:40:00,29.2,2019-06-30 23:40:00,2019-06-30 23:40:00+02:00,2019-06-30 22:40:00+01:00
509115,2019-06-30 23:45:00,29.1,2019-06-30 23:45:00,2019-06-30 23:45:00+02:00,2019-06-30 22:45:00+01:00
509116,2019-06-30 23:55:00,28.7,2019-06-30 23:55:00,2019-06-30 23:55:00+02:00,2019-06-30 22:55:00+01:00

In [31]:
df1.describe

<bound method NDFrame.describe of                    datetime  temperature            naive_dt  \
0       2013-06-21 12:35:00         25.2 2013-06-21 12:35:00
1       2013-06-21 13:00:00         26.2 2013-06-21 13:00:00
2       2013-06-21 13:05:00         26.2 2013-06-21 13:05:00
3       2013-06-21 13:10:00         26.1 2013-06-21 13:10:00
4       2013-06-21 13:15:00         26.2 2013-06-21 13:15:00
...                     ...          ...                 ...
509112  2019-06-30 23:30:00         29.5 2019-06-30 23:30:00
509113  2019-06-30 23:35:00         29.2 2019-06-30 23:35:00
509114  2019-06-30 23:40:00         29.2 2019-06-30 23:40:00
509115  2019-06-30 23:45:00         29.1 2019-06-30 23:45:00
509116  2019-06-30 23:55:00         28.7 2019-06-30 23:55:00

                      italian_dt                  solar_dt
0      2013-06-21 12:35:00+02:00 2013-06-21 11:35:00+01:00
1      2013-06-21 13:00:00+02:00 2013-06-21 12:00:00+01:00
2      2013-06-21 13:05:00+02:00 2013-06-21 12:05:00+01:00
3      2013-06-21 13:10:00+02:00 2013-06-21 12:10:00+01:00
4      2013-06-21 13:15:00+02:00 2013-06-21 12:15:00+01:00
...                          ...                       ...
509112 2019-06-30 23:30:00+02:00 2019-06-30 22:30:00+01:00
509113 2019-06-30 23:35:00+02:00 2019-06-30 22:35:00+01:00
509114 2019-06-30 23:40:00+02:00 2019-06-30 22:40:00+01:00
509115 2019-06-30 23:45:00+02:00 2019-06-30 22:45:00+01:00
509116 2019-06-30 23:55:00+02:00 2019-06-30 22:55:00+01:00

[509117 rows x 5 columns]>